.address__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address__link {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 4px;
  justify-items: flex-start;
  align-items: center;
  font-style: normal;
  text-decoration: none;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green;
  }


  @media (min-width: $tablet-width) {
    font-size: $text-body-2;
  }


  &::before {
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-black;
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-green-hover;
  }

  &:active::before {
    background-color: $color-green;
  }

  &--leaf::before {
    -webkit-mask: url("../../icons/leaf.svg") no-repeat 50% 50%;
    mask: url("../../icons/leaf.svg") no-repeat 50% 50%;
  }

  &--call::before {
    -webkit-mask: url("../../icons/call.svg") no-repeat 50% 50%;
    mask: url("../../icons/call.svg") no-repeat 50% 50%;
  }

  &--email::before {
    -webkit-mask: url("../../icons/email.svg") no-repeat 50% 50%;
    mask: url("../../icons/email.svg") no-repeat 50% 50%;
  }
}
