.address__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address__item {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 4px;
  align-items: center;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: $text-body-2;
  }

  &::before {
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--leaf::before {
    background-image: url(../../icons/leaf.svg);
  }

  &--call::before {
    background-image: url(../../icons/call.svg);
  }

  &--email::before {
    background-image: url(../../icons/email.svg);
  }
}

.address__link {
  text-decoration: none;
  color: $color-black;
}
