.button {
  padding: 14px;
  min-width: 220px;
  display: inline-block;
  color: $color-white;
  background-color: $color-purple;
  border: none;
  font-family: $font-body;
  font-size: $text-button-mobile;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  border-radius: 40px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-purple-hover;
  }

  &:active {
    background-color: $color-purple-disabled;
  }

  &--cta {
    padding: 16px;
    width: 264px;
    box-shadow: $main-shadow;

    @media (min-width: $tablet-width) {
      padding: 16px 0 18px;
      min-width: 336px;
      font-size: $text-button;
    }
  }
}

