.catalog {
  padding: 60px 0 92px;

  @media (min-width: $tablet-width) {
    padding: 100px 0 142px;
  }
}

.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__heading {
  margin: 0;
  margin-bottom: 60px;
  font-family: $font-heading;
  font-size: $heading-h2-mobile;
  line-height: normal;
  font-weight: 400;
  color: $color-green;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: $heading-h2-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
    font-size: $heading-h2;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
