.contacts {
  padding: 72px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 72px 0 100px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 100px 0;
    width: 1128px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &--inner {
    @media (max-width: $mobile-width-only) {
      padding: 60px 0 64px;
    }
  }
}

.contacts__container {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    width: 410px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 100%;
  }
}

.contacts__heading {
  margin: 0;
  margin-bottom: 68px;
  font-family: $font-heading;
  font-size: $heading-h2-mobile;
  line-height: normal;
  font-weight: 400;
  color: $color-green;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: $heading-h2-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-right: 8px;
    font-size: $heading-h2;
    line-height: 58px;
  }

  &--inner {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 64px;
    }
  }
}

.contacts__content {
  @media (min-width: $desktop-width) {
    margin-left: 100px;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 34px;
  font-size: $text-body-large-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: left;
    font-size: $text-body-large;

    & br {
      display: none;
    }
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 372px;
  border: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
