.developer {
  margin-top: 4px;
  margin-right: 2px;
  display: flex;
  align-self: center;
  align-items: center;
  gap: 8px;
  font-size: $text-developer-mobile;
  text-decoration: none;
  color: $color-black;

  &:hover {
    opacity: 0.5;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: $text-body-2;
  }
}

.developer__image {
  width: 20px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 32px;
  }
}
