.field-group {
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

}

.field-group__heading {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: $heading-h3-mobile;
  color: $color-green;

  @media (min-width: $tablet-width) {
    font-size: $heading-h3;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }
}

.field-group__list {
  @include reset-list;
  display: grid;

  &--choice {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    column-gap: 20px;
    row-gap: 32px;

    @media (min-width: $tablet-width) {
      grid-template-rows: repeat(4, auto);
      row-gap: 24px;
    }

    @media (min-width: $desktop-width) {
      grid-template-rows: repeat(2, auto);
    }
  }

  &--storage {
    gap: 24px;

    @media (min-width: $tablet-width) {
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-template-rows: repeat(2, auto);
      column-gap: 54px;
    }

    @media (min-width: $desktop-width) {
      grid-template-rows: auto;
      column-gap: 48px;
    }
  }

  &--delivery {
    gap: 32px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, max-content);
    }

    @media (min-width: $desktop-width) {
      grid-template-rows: auto;
      column-gap: 48px;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "name ."
        "phone email"
        "address address"
        "comment comment";
      column-gap: 20px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 24px;
    }
  }
}

.field-group__item {
  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--email {
    grid-area: email;
  }

  &--address {
    grid-area: address;
  }

  &--comment {
    grid-area: comment;
  }
}
