.form {
  padding: 50px 0 88px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 72px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 100px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 168px;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto 48px;
    width: 484px;
  }

  @media (min-width: $desktop-width) {
    width: 792px;
  }
}

.form__button {

  @media (min-width: $tablet-width) {
    min-width: 336px;
    align-self: center;
  }
}
