.form__container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 624px;
  }
}

.form__group {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 48px;
    padding: 0;
  }

  &--contacts {
    margin: 0;
    width: 100%;
  }
}
