.form {
  padding-bottom: 120px;
  box-sizing: border-box;
}

.form__container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.form__group {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding: 0 70px;
  }

  &--contacts {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__button {
  @media (min-width: $desktop-width) {
    min-width: 336px;
    align-self: center;
  }
}
