.logo {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap: 10px;
  color: $color-green;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green-disabled;
  }
}

.logo__image {
  width: 52px;
  height: 52px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.logo__sign {
  margin-top: 4px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
