.news-card {
  padding: 32px 18px 64px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../icons/branch.svg);
  background-position: 50% calc(100% - 24px);
  background-repeat: no-repeat;
  background-size: 76px 32px;
  border: 2px solid $color-green;
  border-radius: 40px;

  @media (min-width: $tablet-width) {
    padding: 32px 36px 106px;
    min-height: 492px;
    background-position: 50% calc(100% - 42px);
    background-size: 96px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 36px 102px;
  }
}

.news-card__title {
  margin: 0;
  margin-bottom: 20px;
  width: 204px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $heading-h3-mobile;
  line-height: 23px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    width: 100%;
    min-height: 100px;
    font-size: $heading-h3;
    line-height: 33px;
  }

  @media (min-width: $tablet-width) {
    min-height: 96px;
  }
}

.news-card__description {
  margin: 0;
  margin-bottom: 12px;
  min-height: 180px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    min-height: 196px;
    font-size: $text-body-2;
    line-height: 20px;
  }
}

.news-card__date {
  align-self: flex-end;
}
