.page-main__heading {
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.page-main__heading::before {
  content: "";
  margin-bottom: 64px;
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("../../images/background/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/background/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
    height: 200px;
    background-image: url("../../images/background/hero-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/background/hero-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background/hero-desktop@2x.jpg");
    }
  }
}

.page-main__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: $font-heading;
  font-size: $heading-h1-mobile;
  line-height: 40px;
  font-weight: 400;
  color: $color-green;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: $heading-h1-tablet;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
    font-size: $heading-h1;
    line-height: 58px;
  }
}

.page-main__subtitle {
  margin: 0 auto;
  font-size: $text-body-1-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 480px;
    font-size: $text-body-1;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 550px;
  }
}
