.product-card {
  width: 264px;
  border-radius: 40px;
  box-shadow: $product-card-shadow;
  overflow: hidden;
}

.product-card__picture {
  display: block;
  line-height: 0;
}

.product-card__content {
  padding: 28px 22px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $text-body-2-mobile;

  @media (min-width: $tablet-width) {
    font-size: $text-body-2;
  }
}

.product-card__link {
  margin-bottom: 28px;
  color: $color-green;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green;
  }
}

.product-card__title {
  margin: 0;
  font-size: $heading-h3;
  line-height: 32px;
  font-weight: 400;
}

.product-card__description {
  margin: 0;
  margin-bottom: 38px;
  font-size: $text-body-1;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
