.product-card {
  width: 264px;
  border-radius: 40px;
  box-shadow: $product-card-shadow;
  overflow: hidden;
}

.product-card__content {
  padding: 28px 22px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $text-body-2-mobile;

  @media (min-width: $tablet-width) {
    font-size: $text-body-2;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: $heading-h3;
  font-weight: 400;
  color: $color-green;
}

.product-card__description {
  margin: 0;
  margin-bottom: 38px;
  font-size: $text-body-1;
  display: flex;
  gap: 12px;
}
