.promo {
  background-color: $color-blue-gray;
  background-image: url(../../images/background/promo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__container {
    padding: 60px 0 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width)  {
      padding: 142px 0 420px 184px;
      align-items: flex-start;
    }
}

.promo__heading {
  margin: 0;
  margin-bottom: 32px;
}

.promo__list {
  @include reset-list;
  width: 208px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width)  {
    width: 500px;
    align-items: flex-start;
  }
}

.promo__item {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 12px;
  align-items: center;
  font-size: $text-body-1-mobile;

  @media (min-width: $tablet-width)  {
    font-size: $text-body-1;
  }

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--selected::before {
    background-image: url(../../icons/selected.svg);
  }

  &--ice::before {
    background-image: url(../../icons/ice.svg);
  }

  &--delivery::before {
    background-image: url(../../icons/delivery.svg);
  }
}
