.social {
  align-self: center;
}

.social__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 32px;
  }
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: $color-green;
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-color: $color-green-hover;
  }

  &:active {
    background-color: $color-green-disabled;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &--telegram {
    -webkit-mask: url("../../icons/telegram.svg") no-repeat 50% 50%;
    mask: url("../../icons/telegram.svg") no-repeat 50% 50%;
  }

  &--vk {
    -webkit-mask: url("../../icons/vk.svg") no-repeat 50% 50%;
    mask: url("../../icons/vk.svg") no-repeat 50% 50%;
  }

  &--youtube {
    -webkit-mask: url("../../icons/youtube.svg") no-repeat 50% 50%;
    mask: url("../../icons/youtube.svg") no-repeat 50% 50%;
  }
}
